<div class="mt-5">
    <form action="/favourites" method = "POST">
      <button type="submit" class="bg-green-500 p-2">Add To Favourites</button>
      <input type="hidden" name="id" value="<%=home._id%>">
    </form>
  </div>